body{
    background-image: linear-gradient(to right, white, #2eacd4);
}

header{
    text-align: center;
}

nav{
    height: 600px;
    width: 120px;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
}